{% extends 'base/base.html' %}
{% include "base/alert.html" %}

{% block start %}
  <!-- Update Password Form -->
  <div class="col-md-9 mx-auto mt-5 ">
    <div id="profile-section" class="text-center">
      <h2>Update Password:</h2>
      <form id="update-password-form" method="post" class="w-75 mx-auto">
        {% csrf_token %}
        {% if password_form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {{ password_form.non_field_errors }}
          </div>
        {% endif %}
        <div class="form-group row">
          <label for="old_password" class="col-sm-3 col-form-label">Old Password:</label>
          <div class="col-sm-9">
            <input type="password" id="old_password" name="old_password" class="form-control form-control-sm">
            {{ password_form.old_password.errors }}
          </div>
        </div>
        <div class="form-group row">
          <label for="new_password1" class="col-sm-3 col-form-label">New Password:</label>
          <div class="col-sm-9">
            <input type="password" id="new_password1" name="new_password1" class="form-control form-control-sm">
            {{ password_form.new_password1.errors }}
          </div>
        </div>
        <div class="form-group row">
          <label for="new_password2" class="col-sm-3 col-form-label">Confirm New Password:</label>
          <div class="col-sm-9">
            <input type="password" id="new_password2" name="new_password2" class="form-control form-control-sm">
            {{ password_form.new_password2.errors }}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-success">Update Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
